<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="qa" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<qa>		
    <add key="TestPortalUrl" value ="https://example.testproject.io/web/" />
    

  </qa>
	<appSettings>
		<add key="environment" value="qa"/>
		<add key="browser" value="chrome"/>
	</appSettings>	
</configuration>